<div class="jumbotron">
    <h1>Bem vindo ao site Receitas</h1>
    
    <h2> 
    Este o inicio de um site profissional Ruby on Rails.
    </h2>
    <%=link_to "Sign up now!", "", class: "btn btn-success"%>
</div> 
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">View Receitas como convidado </h3>
        <h2 class="left">Browse an view  recipes as como convidado e sign up later!   </h2>
        <p> <%= link_to "browse Receitas lista","" , class: "btn btn-warning btn-small"%> </p>
    </div>
    
     <div class="col-lg-4">
        <h3 class="midrow">View Receitas como convidado </h3>
        <h2 class="left">Browse an view  recipes as como convidado e sign up later!   </h2>
        <p> <%= link_to "browse Receitas lista","" , class: "btn btn-warning btn-small"%> </p>
    </div>
     <div class="col-lg-4">
        <h3 class="midrow">View Receitas como convidado </h3>
        <h2 class="left">Browse an view  recipes as como convidado e sign up later!   </h2>
        <p> <%= link_to "browse Receitas lista","" , class: "btn btn-warning btn-small"%> </p>
    </div>
</div>
